 body{
    background: linear-gradient(to right, lightgray, lightpink, lightgreen, lightblue);}  

.container{
    border: 1px solid gray;
    width: 1000px;
    height: 500px;
    margin-top: 100px;
    border-radius: 10px;
    border-color: lightgray;
    background-color: white;
    opacity: 1.0; 
}

.input-brands{
    margin-top: 50px;
    display: flex;
    justify-content:center;
}

.input-brands input{
    border-radius: 5px;
    border-color: lightgray;
    width: 600px;
}

h5{
    text-align: center;
}

.car-list{
    margin-top: 20px; 
    margin-bottom: 30px;  
    margin-left: 40px;
}

.car-service{
    margin-top: 20px; 
    margin-bottom: 50px;  
    margin-right: 40px;
}

.delivered-car{
    width: 400px;
    height: 80px;
    list-style: none;
    text-align: center;
}

li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 5px;
}

#setBtn{
    color: white;
    background-color: green;
    border: none;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    margin: 2px;
}

#deleteBtn{
    color: white;
    background-color: red;
    border: none;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    margin: 2px;
}

#backBtn{
    color: white;
    background-color: blue;
    border: none;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    margin: 2px;
}

#carBtn{
    color: white;
    background-color: gold;
    border: none;
    border-radius: 4px;
    width: 35px;
    height: 35px; 
    margin: 2px;
}

.buttonCarList { 
    display: flex; 
    
}

.buttonCarList{
    display: flex; 
}